@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --primary-color: #E6533C;
  --secondary-color: black;
  --text-color-h1: white;
  --text-color-p: gray;
  --bg-color: #222222;
}

p {
  color: gray;
}
/* li {
  list-style: none;
} */
body {
  background-color: #0b0b0b;
  color: white;
}



.nav {
  display: flex;
  justify-content: space-around;
}
.nav .fa-solid {
  display: none;
}
.nav > ul {
  display: flex;
  gap: 10px;
  background-color: rgba(128, 128, 128, 0.114);
  border: 1px solid rgba(128, 128, 128, 0.303);
  border-radius: 25px;
  padding: 8px;
}

.fitness {
  color: var(--primary-color) !important;
}
.nav > ul > li {
  list-style: none;
}
.nav > ul > li > a {
  text-decoration: none;

  color: var(--text-color-h1);
}

.home {
  background-color: var(--primary-color);

  border: 1px solid var(--primary-color);
  border-radius: 25px;
  width: 50px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}
/* header ends here */

/* banner starts here */
.banner {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  background: linear-gradient(to top, rgb(10, 10, 10), rgb(43, 42, 42), black);
  /* background-color: rgba(220, 220, 220, 0.074); */
  margin-top: 20px;
}

.getbody {
  font-family: "Inter", sans-serif;
  font-size: 45px;
  font-weight: 800;
}

.shape {
  font-family: "Miama", sans-serif;
  font-size: 50px;
  font-weight: 400;
}

/* .exercise > p {
  color: var(--text-color-p);
} */

.join {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  width: 120px;
  padding: 5px;
  margin-right: 10px;
  margin-top: 15px;
}
.app {
  background-color: var(--bg-color);
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px dotted white;
  border-left: 1px dotted white;
  border-radius: 20px;
  width: 120px;
  padding: 5px;
}

.circle {
  width: 25px;
  height: 25px;
  position: absolute;
  margin-top: 17px;
  margin-left: 10px;

  background-color: var(--primary-color);
  border-radius: 50%;
}

.image {
  position: relative;
}

.workout {
  position: absolute;
  right: 410px;
  top: 150px;
  background-color: rgba(128, 128, 128, 0.189);
  border-radius: 5px;

  font-size: x-small;
  width: 110px;
  height: 60px;
  z-index: 1;
}
.workout > h1 {
  color: var(--text-color-h1);
  margin-left: 5px;
  margin-top: 5px;
  font-size: large;
}
.workout > p {
  color: var(--text-color-p);
  margin-left: 5px;
}
.tutorial {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  bottom: 70px;
  right: 50px;
  background: rgba(128, 128, 128, 0.189);
  border-radius: 5px;
  text-align: center;
  font-size: x-small;
  width: 100px;
  z-index: 1;
}

#tutorial > h1 {
  color: var(--text-color-h1);
}
.youtube-icon img {
  display: none;
}
/* banner ends here */

/* 
change habit starts here */
.habits {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.habits p {
  color: var(--text-color-p);
}

.mtpw {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: small;
  text-align: center;
}

.mtpw img {
  width: 100px;
  border-radius: 50%;
}



.extramile {
  display: flex;
  justify-content: space-around;
  /* background-color: rgba(128, 128, 128, 0.499); */
  background-color: var(--bg-color);
  width: 80%;
  margin: 0 auto;
  border-radius: 8px;
}
.extramile h1 {
  color: var(--text-color-h1);
}
.extramile p {
  color: rgba(176, 172, 172, 0.731);
}
.extramile img {
  width: 250px;
  height: 180px;
  border-radius: 7px;
  margin: 10px;
}

/* bmi starts here */
.bmi {
  display: flex;
  justify-content: space-around;
  /* background-color: var(--text-color-p); */
  background-color: var(--bg-color);
  padding: 15px;
}

.bmi-calculator {
  text-align: center;
}

table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid rgba(245, 245, 245, 0.373);
  padding: 5px 15px;
}

tr {
  color: rgba(245, 245, 245, 0.353);
}
th {
  color: var(--text-color-h1);
}

.form > div {
  margin: 10px;
  border-radius: 5px;
}

.calculate {
  margin-top: 20px;
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  width: 120px;
  padding: 5px;
}

input {
  background-color: rgba(108, 108, 108, 0.874);
  color: rgba(245, 245, 245, 0.939);
  border-radius: 5px;
  outline: none;
  border: none;
}

input::placeholder {
  color: rgba(245, 245, 245, 0.353);
  padding-left: 10px;
}

#gender-option {
  background-color: rgba(108, 108, 108, 0.874);
  color: rgba(245, 245, 245, 0.353);
  width: 49%;
}
#activity {
  background-color: rgba(108, 108, 108, 0.874);
  color: rgba(245, 245, 245, 0.353);
  width: 95%;
  margin-left: 7px;
}

/* bmi ends here */

/* membership */
.membership {
    text-align: center;
}
.membership-plan{
    display: flex;
    justify-content: space-around;
    
    width: 85%;
    
    margin-left: 150px;
    border-radius: 10px;
    background: linear-gradient(to left, rgb(8, 10, 8), rgb(178, 174, 178), rgb(17, 12, 15));
 
}
.membership-plan h1 {
    font-size: 30px;
}
.membership-plan h5 {
    font-size: 20px;
}

.membership-plan div {
    width: 350px;
    height: 330px;
    background-color: var(--primary-color);
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
  
}

.membership-plan div h4 button {
   margin-left: 20px;
   padding: 5px 15px;
   background-color: rgb(21, 94, 21);
   color: rgb(107, 238, 107);
   border-radius: 7px;
   border-style: none;

}
.membership-plan ol li {
    padding: 2px;
    display: flex;
    
    
  
}
.membership-plan ol li img {
    width: 15px;
    height: 15px;
    
    margin-right: 5px;
    
  
}




/* membership */

/* team section starts here */

.team {
  text-align: center;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 80%;
  padding: 10px;
  background-color: var(--bg-color);
  margin: 0 auto;
}

.card {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.card img {
  width: 300px;
  height: 220px;
  border-radius: 10px;
}

.card .trainer-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
/* team section ends here */

/* footer section starts here */

.footer {
  /* background-color: rgba(128, 128, 128, 0.499); */
  background-color: var(--bg-color);
}
.rights {
  text-align: center;
  padding-bottom: 10px;
  color: white;
}
.footer-section {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.footer-section > section > ul > li {
  color: rgba(176, 172, 172, 0.731);
  margin: 5px;
  list-style: none;
}
.footer-section > section > h1 {
  color: var(--text-color-h1);
}

hr {
  color: rgba(176, 172, 172, 0.731);
  width: 80%;
}

/* footer section ends here */
